html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


.mismatch {
  background: red;
  animation: mismatch 0.3s ease;
}
.deck .card.open {
    transform: rotateZ(0);
    background: #02b3e4;
    cursor: default;
    transition: 0.2s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: right 0.5s ease;
}

@keyframes right {
  0%{transform: scaleX(1.1);}
  25%{transform: scaleY(1.1)}
  50%{transform: scaleX(1.1)}
  75%{transform: scaleY(1.1)}
}

@keyframes mismatch {
  0%{transform: translateX(5px);}
  25%{transform: translateX(-10px);}
  50%{transform: translateX(5px);}
  75%{transform: translateX(-10px);}
}

.timer{
  display:inline-block;
  padding-left:10px;
}

.disappear{
  display: none;
}

.restart:hover{
  transform: scale(1.2);
  color: blue;
  transition: 0.3s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*styles for winning*/

.win-container{
  position: absolute;
  width:100%;
  height:106%;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  align-items: center;
  text-align: center;
}

.hidden-container{
  margin-top: 10%
}

.congrats{
  font-size: 50px;
  color:white;
}

.good-work{
  font-size: 40px;
  color: navy;
}
.fa-angellist, .fa-bullhorn {
  color:red;
  font-size: 50px;
  padding:5px;
}

.stat{
  font-size: 30px;
}

.stat-left, .spans{
  padding: 5px;
  margin-top: 20px;
  background: linear-gradient(190deg, cyan 0% , lightgrey 100%);
  display: inline-block;
  border:2px black outset;
  width:200px;
  margin-left: auto;
  margin-right: auto;
}



.repeatBtn{
  font-size: 20px;
  border-radius: 10px;
  background: lavender;
  margin-top: 30px;
  padding:15px;
}









/**/
